html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 35px;
}
@media (max-width: 992px) {
	.navbar, #logo {
		display: inline-flex;
	}
}
@media (min-width: 992px) {
 	.top-padding {
		min-height: 128px;
 	}
 	.navbar-nav .nav-item+.nav-item {
		margin-left: 0rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
}
.footer {
 	position: absolute;
 	bottom: 1px;
 	width: 100%;
 	height: 35px;
 	line-height: 35px;
 	text-align: center;
}
